{% extends 'base.html' %}

{% block title %}Registro de revisión de vehículos{% endblock %}

{% block content %}
<form method="post" action="{{url_for('insertar_revision_vehiculo')}}">
    <h2>Registro de revisión de vehículos</h2>
    <label for="vehiculo">Seleccionar Vehículo:</label>
    <select id="vehiculo" name="vehiculo" required>
        {% if vehiculos %}     
            {% for vehiculo in vehiculos %}            
                <option value="{{ vehiculo['matricula'] }}">{{ " | ".join([ vehiculo['matricula'], vehiculo["marca"],vehiculo["modelo"],vehiculo["color"]]) }}</option>
            {% endfor %}
        {% else %}
            No hay datos disponibles.
        {% endif %}          
    </select>
    <p></p>
    <button type="button" id="btn_add_vehiculo" onclick="addVehiculo()">Agregar Vehículo</button>
    <p></p>    
    <input type="hidden" id="selectedVehiculos" name="selectedVehiculos">
    <input type="hidden" id="selectedRevisiones" name="selectedRevisiones">
    <table>
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Fecha de Entrega</th>
                <th>Fecha de Recepción</th>
                {% if tipos_revision %}     
                    {% for tipo_revision in tipos_revision %}                                              
                    <th>{{tipo_revision["nombre_revision"]}}</th>                    
                    {% endfor %}
                {% else %}
                    <th>No hay tipos revision disponibles.</th>
                {% endif %}        
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="vehiculosTableBody">
            <!-- Aquí se agregarán las filas dinámicamente -->
        </tbody>
    </table>
    <p></p>
    <button type="submit">Comprar Vehículo(s)</button>
</form>
<script>
    // Almacenar datos de vehículos en una variable JavaScript
    const vehiculosData = {{ vehiculos | tojson }};

    function addVehiculo() {
        const select = document.getElementById('vehiculo');
        const matricula = select.value;

        // Buscar el vehículo seleccionado en vehiculosData
        const selectedVehiculo = vehiculosData.find(v => v.matricula === matricula);

        if (selectedVehiculo) {
            // Buscar si la fila ya existe en la tabla
            const existingRow = document.querySelector(`tr[data-matricula="${matricula}"]`);

            // if (existingRow) {
            //     // Si la fila ya existe, simplemente mostrarla
            //     existingRow.style.display = '';
            // } else {
                // Si la fila no existe, crear una nueva fila
                const tableBody = document.getElementById('vehiculosTableBody');

                const newRow = document.createElement('tr');
                newRow.setAttribute('data-matricula', matricula);

                // <td class="TDTitulo">${selectedVehiculo.precio}</td>
                newRow.innerHTML = `
                    <td class="matricula">${selectedVehiculo.matricula}</td>
                    <td class="TDTitulo">${selectedVehiculo.marca}</td>
                    <td class="TDTitulo">${selectedVehiculo.modelo}</td>
                    <td class="TDTitulo">${selectedVehiculo.color}</td>
                    <td class="TDTitulo"><input type="datetime-local" id="fecha_entrega" name="fecha_entrega" required></td>
                    <td class="TDTitulo"><input type="datetime-local" id="fecha_recepcion" name="fecha_recepcion" required></td>
                     {% if tipos_revision %}     
                        {% for tipo_revision in tipos_revision %}   
                            {% set name_option = "_".join(tipo_revision["nombre_revision"].split(" ")) %}                                    
                            <td class="name_option"><input onchange="updateHiddenField()" type="checkbox" id="{{name_option}}" name="{{name_option}}"></td>                    
                        {% endfor %}
                    {% else %}
                        <td>No hay tipos revision disponibles.</td>
                    {% endif %}        
                    <td><button type="button" onclick="removeVehiculo(this)">Eliminar</button></td>
                `;
                
                tableBody.appendChild(newRow);
            // }
        }
        updateHiddenField();
    }

    function removeVehiculo(button) {
        // Ocultar la fila del botón pulsado
        const row = button.parentNode.parentNode;
        row.style.display = 'none';
        updateHiddenField();
    }

    function updateHiddenField() {
        const tableBody = document.getElementById('vehiculosTableBody');
        const rows = tableBody.getElementsByTagName('tr');
        const matriculas = [];
        const revisiones = [];
        for (let i = 0; i < rows.length; i++) {
            if (rows[i].style.display !== 'none') {
                const cells = rows[i].getElementsByTagName('td');
                const matricula = cells[0].textContent;                
                matriculas.push(matricula);
                // const nameOptions = document.querySelectorAll('td.name_option');
                const nameOptions = rows[i].querySelectorAll('td.name_option input[type="checkbox"]');
                // const checkboxes = document.querySelectorAll('td.name_option input[type="checkbox"]');
                
                const nameOpts = [];
                for (let k = 0; k < nameOptions.length; k++) {
                    nameOpts.push(nameOptions[k].checked?1:0)
                }
                revisiones.push(nameOpts.join(","))
            }
        }

        document.getElementById('selectedVehiculos').value = matriculas.join(";")
        document.getElementById('selectedRevisiones').value = revisiones.join(";")
        return true;
    }
</script>
{% endblock %}
