{% extends 'base.html' %}

{% block title %}Registro de revisión de vehículos{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('insertar_revision_vehiculo') }}">
    <h2>Registro de revisión de vehículos</h2>
    <label for="vehiculo">Seleccionar Vehículo:</label>
    <select id="vehiculo" name="vehiculo" required>
        {% if vehiculos %}     
            {% for vehiculo in vehiculos %}            
                <option value="{{ vehiculo['matricula'] }}">{{ " | ".join([ vehiculo['matricula'], vehiculo["marca"],vehiculo["modelo"],vehiculo["color"]]) }}</option>
            {% endfor %}
        {% else %}
            No hay datos disponibles.
        {% endif %}          
    </select>
    <p></p>
    <button type="button" id="btn_add_vehiculo" onclick="addVehiculo()">Agregar Vehículo</button>
    <p></p>    
    <input type="hidden" id="vehiculosData" name="vehiculosData">
    <table>
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Fecha de Entrega</th>
                <th>Fecha de Recepción</th>
                {% if tipos_revision %}     
                    {% for tipo_revision in tipos_revision %}                                              
                    <th>{{ tipo_revision["nombre_revision"] }}</th>                    
                    {% endfor %}
                {% else %}
                    <th>No hay tipos revision disponibles.</th>
                {% endif %}        
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="vehiculosTableBody">
            <!-- Aquí se agregarán las filas dinámicamente -->
        </tbody>
    </table>
    <p></p>    
    {% include 'components/guardar_button.html' %}     
    {% include 'components/ingreso/cancel_btn_ingreso.html' %}
</form>
<script>
    // Almacenar datos de vehículos en una variable JavaScript
    const vehiculosData = {{ vehiculos | tojson }};

    function addVehiculo() {
        const select = document.getElementById('vehiculo');
        const matricula = select.value;

        // Buscar el vehículo seleccionado en vehiculosData
        const selectedVehiculo = vehiculosData.find(v => v.matricula === matricula);

        if (selectedVehiculo) {
            // Buscar si la fila ya existe en la tabla
            const existingRow = document.querySelector(`tr[data-matricula="${matricula}"]`);

                const tableBody = document.getElementById('vehiculosTableBody');

                const newRow = document.createElement('tr');
                newRow.setAttribute('data-matricula', matricula);

                newRow.innerHTML = `
                    <td class="matricula">${selectedVehiculo.matricula}</td>
                    <td class="TDTitulo">${selectedVehiculo.marca}</td>
                    <td class="TDTitulo">${selectedVehiculo.modelo}</td>
                    <td class="TDTitulo">${selectedVehiculo.color}</td>
                    <td class=""><input onchange="updateHiddenField()" type="datetime-local" name="fecha_entrega" required></td>
                    <td class="TDTitulo"><input onchange="updateHiddenField()" type="datetime-local" name="fecha_recepcion" required></td>
                    {% if tipos_revision %}     
                        {% for tipo_revision in tipos_revision %}   
                            {% set name_option = "_".join(tipo_revision["nombre_revision"].split(" ")) %}                                    
                            <td class="name_option"><input onchange="updateHiddenField()" type="checkbox" name="{{ tipo_revision['nombre_revision'] }}"></td>                    
                        {% endfor %}
                    {% else %}
                        <td>No hay tipos revision disponibles.</td>
                    {% endif %}        
                    <td><button type="button" onclick="removeVehiculo(this)">Eliminar</button></td>
                `;
                
                tableBody.appendChild(newRow);
                updateHiddenField();
        }
    }

    function removeVehiculo(button) {
        // Ocultar la fila del botón pulsado
        const row = button.parentNode.parentNode;
        row.style.display = 'none';
        updateHiddenField();
    }

    function updateHiddenField() {
        const tableBody = document.getElementById('vehiculosTableBody');
        const rows = tableBody.getElementsByTagName('tr');
        const vehiculos = [];

        for (let i = 0; i < rows.length; i++) {
            if (rows[i].style.display !== 'none') {
                const cells = rows[i].getElementsByTagName('td');
                const vehiculo = {
                    matricula: cells[0].textContent.trim(),
                    // marca: cells[1].textContent.trim(),
                    // modelo: cells[2].textContent.trim(),
                    // color: cells[3].textContent.trim(),
                    fecha_entrega: cells[4].querySelector('input').value,
                    fecha_recepcion: cells[5].querySelector('input').value
                };

                // Recolectar valores de los checkboxes
                const checkboxes = rows[i].querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(checkbox => {
                    vehiculo[checkbox.name] = checkbox.checked ? 1 : 0;
                });

                vehiculos.push(vehiculo);
            }
        }

        document.getElementById('vehiculosData').value = JSON.stringify(vehiculos);
    }
</script>
{% endblock %}
