{% extends 'base.html' %}

{% block title %}Informe de Clientes{% endblock %}

{% block content %}
<h2>Informe de Clientes</h2>
<!-- <table> -->
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Teléfono</th>
                <th>Número de vehículos</th>
                <th>Vehículos</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in data %}
            <tr>
                <td class="TDTitulo">{{ cliente["codigo"] }}</td>
                <td class="TDTitulo">{{ cliente["cedula"] }}</td>
                <td class="TDTitulo">{{ cliente["nombres"] }}</td>
                <td class="TDTitulo">{{ cliente["apellidos"] }}</td>
                <td class="TDTitulo">{{ cliente["direccion"] }}</td>
                <td class="TDTitulo">{{ cliente["ciudad"] }}</td>
                <td class="TDTitulo">{{ cliente["telefono"] }}</td>            
                <td class="TDTitulo">{{ cliente["vehiculo"] | length}}</td>  
                <td class="TDTitulo">                   
                    {% if cliente["vehiculo"] | length > 0 %}     
                        <table>
                            <thead>
                                <tr>
                                    <th>Matricula</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Color</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vehiculo in cliente["vehiculo"] %}
                                <tr>
                                    <td class="TDTitulo">{{ vehiculo["matricula"] }}</td>
                                    <td class="TDTitulo">{{ vehiculo["marca"] }}</td>
                                    <td class="TDTitulo">{{ vehiculo["modelo"] }}</td>
                                    <td class="TDTitulo">{{ vehiculo["color"] }}</td>
                                    <td class="TDTitulo">{{ vehiculo["precio"] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        N/A
                    {% endif %}          
                </td>     

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<a class="btn" href="{{ url_for('informe') }}">Regresar</a>
{% endblock %}
