{% extends 'base.html' %}

{% block title %}Informe de vehiculos{% endblock %}

{% block content %}
<h2>Informe de Vehiculos</h2>
<!-- <table> -->
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in data %}
            <tr>
                <td class="TDTitulo">{{ vehiculo["matricula"] }}</td>
                <td class="TDTitulo">{{ vehiculo["marca"] }}</td>
                <td class="TDTitulo">{{ vehiculo["modelo"] }}</td>
                <td class="TDTitulo">{{ vehiculo["color"] }}</td>
                <td class="TDTitulo">{{ vehiculo["precio"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<a class="btn" href="{{ url_for('informe') }}">Regresar</a>
{% endblock %}
