{% extends 'base.html' %}

{% block title %}Informe de Mantenimientos{% endblock %}

{% block content %}
<h2>Informe de Mantenimientos</h2>
<form method="post" action="{{ url_for('informe_mantenimientos') }}">
    <label for="matricula">Matrícula del vehículo:</label>
    <input type="text" id="matricula" name="matricula" required>
    <p></p>
    <button type="submit">Buscar</button>
    <p></p>
</form>
{% if mantenimientos %}
<table>
    <thead>
        <tr>
            <th>Vehículo</th>
            <th>Tipo revision</th>            
            <th>Costo</th>
            <th>Fecha de Recepción</th>
            <th>Fecha de Entrega</th>
        </tr>
    </thead>
    <tbody>
        {% for mantenimiento in mantenimientos %}
        <tr>
            <td>{{ mantenimiento.vehiculo_id }}</td>
            <td>{{ mantenimiento.nombre_revision }}</td>
            <td>{{ mantenimiento.costo_revision }}</td>
            <td>{{ mantenimiento.fecha_recepcion }}</td>
            <td>{{ mantenimiento.fecha_entrega }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<a href="{{ url_for('informe') }}">Regresar</a>
{% endblock %}
